snippet JA "My name" !b
Jacek Wysocki
endsnippet

snippet EM "My email" !b
Jacek Wysocki
endsnippet

snippet ME "My name and email" !b
Jacek Wysocki <jacek.wysocki@gmail.com>
endsnippet

snippet date "Date in ISO" !b
`date +%Y-%m-%d`
endsnippet

snippet dt "DateTime in ISO" !b
`date +%Y-%m-%d\ %H:%M:%S`
endsnippet

snippet time "Time in ISO" !b
`date +%H:%M:%S`
endsnippet

