--  ___________________________
-- / Author_ Jacek Wysocki     \
-- \ (jacek.wysocki@gmail.com) /
--  ---------------------------
--         \   ^__^
--          \  (oo)\_______
--             (__)\       )\/\
--                 ||----w |
--                 ||     ||
